input{
    visibility: hidden;
    &:nth-of-type(1):checked ~ div::before{
        animation-play-state: running;
    }
    &:nth-of-type(2):active ~ div::before{
        animation: none;
    }
    
}
label{
    position: absolute;
    z-index: 333;
    font-size: 50px;
    width:250px;
    text-align: center;
    line-height: 100px;;
    height:100px;
    border:solid;
  background-color: lightgreen;
    top:350px;
        left:10px;
    }
    &:nth-of-type(2){
        left:400px;
    }
    &:hover{
      margin:2px;
    }
  }
section{
       position: relative;
       width:800px;
       margin: auto;
       height:1000px;
      //  border:solid;
       top:100px;

div{
    position: absolute;
    width: 200px;
    height: 200px;
    border:solid; 
    
    overflow:hidden;

  }
  .seconds{
    left:480px;
  }
  .minutes{
    left:240px;
  }
  .mileseconds{
    left:720px;
  }
  div.seconds::before{
 
    width: 200px;
    height: 200px;
    /* border:solid; */
    margin-top:0%;
    content:' 00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59';
    display:inline-block;
    font-size:100px;
    text-align:center;
    line-height:200px;
    animation:rotate 60s steps(60) infinite;
    animation-play-state: paused;
  }
  div.minutes::before{
    width: 200px;
    height: 200px;
    /* border:solid; */
    margin-top:0%;
    content:' 00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59';
    display:inline-block;
    font-size:100px;
    text-align:center;
    line-height:200px;
    animation:rotate 3600s steps(60) infinite;
    animation-play-state: paused;
  }
  div.hours::before{
    width: 200px;
    height: 200px;
    /* border:solid; */
    margin-top:0%;
    content:' 00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23';
    display:inline-block;
    font-size:100px;
    text-align:center;
    line-height:200px;
    animation:hours 86400s steps(24) infinite;
    animation-play-state: paused;
  }
}
  @keyframes hours{
    to{
      margin-top:-2400%;
    }
  }
  @keyframes rotate{
    to{
      margin-top:-6000%;
    }
  }
//   @keyframes hours1{
//     to{
//       margin-top:-2400%;
//     }
//   }
//   @keyframes rotate1{
//     to{
//       margin-top:-6000%;
//     }
//   }