section {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
}

section input {
  visibility: hidden;
}

section input:checked ~ .changpian {
  animation-play-state: running;
}

section input:checked ~ .zhizhen {
  animation-play-state: running;
}

section input:checked ~ .changpian div:nth-child(4) {
  animation-play-state: running;
}

section input:checked ~ label > div {
  transform: rotate(90deg);
}

section label {
  background-color: #7a480b;
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 120%;
  top: 60%;
  z-index: 5555;
}

section label div {
  background-color: white;
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 40%;
  top: -1px;
  transform: rotate(30deg);
  left: 37px;
}

section label span {
  width: 10px;
  height: 10px;
  transform-origin: 50px 50px;
  display: inline-block;
  position: absolute;
}

section label span:nth-child(3) {
  left: 64px;
  top: -10px;
}

section label span:nth-child(2) {
  left: 84px;
  top: 28px;
}

section .changpian {
  position: absolute;
  width: 400px;
  height: 400px;
  animation: rota 10s linear infinite;
  animation-play-state: paused;
}

section .changpian div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid;
}

section .changpian div:nth-child(1) {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: thistle;
  border: none;
  z-index: 2;
}

section .changpian div:nth-child(3) {
  width: 30%;
  height: 30%;
  box-shadow: inset 0 0 0 2px red;
  border-radius: 50%;
  background-color: white;
  background-image: url(jukebox.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1;
}

section .changpian div:nth-child(4) {
  width: 79%;
  height: 79%;
  border-radius: 50%;
  border: 2px solid gray;
  z-index: 3;
  animation: quanquan 120s steps(1000) infinite;
  animation-play-state: paused;
}

section .changpian div:nth-child(5) {
  width: 32%;
  height: 32%;
  border-radius: 50%;
}

section .changpian div:nth-child(6) {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

section .changpian div:nth-child(7) {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

section .changpian div:nth-child(8) {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

section .changpian div:nth-child(10) {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: black;
}

section .dizuo {
  border-radius: 20%;
  left: 240px;
  position: absolute;
  height: 260px;
  width: 400px;
  top: 80px;
  background-color: #d4903d;
  border-top-right-radius: 49%;
  border-bottom-right-radius: 49%;
  box-shadow: 0 0 0 8px #d4903d;
  z-index: -3;
}

section .dizuo .zuoji {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline-width: 3px;
  box-shadow: inset 0 0 0 50px goldenrod;
  right: 50px;
  top: 20px;
}

section .zhizhen {
  position: absolute;
  width: 10px;
  height: 300px;
  top: 38%;
  left: 135%;
  transform-origin: 0 0;
  z-index: 2;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  transform: rotate(52deg);
  background-color: goldenrod;
  animation: zhizhen 120s steps(1170) infinite;
  animation-play-state: paused;
}

.base {
  position: absolute;
  left: 40%;
  top: 50px;
  width: 700px;
  height: 400px;
}

@keyframes rota {
  to {
    transform: rotate(360deg);
  }
}

@keyframes zhizhen {
  form {
    transform: rotate(52deg);
  }
  52% {
    transform: rotate(62deg);
  }
  68% {
    transform: rotate(65deg);
  }
  88% {
    transform: rotate(69deg);
  }
  100% {
    transform: rotate(73deg);
  }
}

@keyframes quanquan {
  from {
    width: 79%;
    height: 79%;
  }
  to {
    width: 30%;
    height: 30%;
  }
}
