section{
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    // border: solid;
  input{
      visibility: hidden;
  }
    input:checked ~ .changpian{
        animation-play-state: running;
    }
    input:checked ~ .zhizhen{
        animation-play-state: running;
    }
    input:checked ~ .changpian div:nth-child(4){
        
        animation-play-state: running;
    }
    input:checked ~ label>div{
        transform: rotate(90deg);
    }
    label{
        background-color: #7a480b;
        position: absolute;
        display: inline-block;
        width:80px;
        height: 80px;
        border-radius: 50%;
        left:120%;
        top:60%;
        // border:solid;
        z-index: 5555;
        div{
            background-color: white;
            position: absolute;
            width: 6px;
            height: 100%;
            // border:solid;
            border-radius: 40%;
            top:-1px;
           transform: rotate(30deg);
            left:37px;
        }
        span{
            width:10px;
            height:10px;
            transform-origin: 50px 50px;

            display: inline-block;
            position: absolute;
           
            &:nth-child(3){
               left:64px;
               top:-10px;
            }
            &:nth-child(2){
                left:84px;
                top:28px
            }
        
        }
    }
// 分割线
    .changpian{
    position: absolute;
    width: 400px;
    height: 400px;
    // border:solid;
    animation: rota 10s linear infinite;
    animation-play-state: paused;
    div{
        position: absolute;
        left:50%;
        top:50%;

        transform: translateX(-50%) translateY(-50%);
        border:solid;
        &:nth-child(1){
            width: 5%;
            height:5%;
            border-radius:50%;
            background-color: thistle;
            border:none;
            z-index: 2;
        }
        &:nth-child(3){
            width: 30%;
            height:30%;
            box-shadow: inset 0 0 0 2px red;
            border-radius:50%;
            background-color: white;
            background-image: url(jukebox.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            z-index: 1;
        }
        &:nth-child(4){
            width: 79%;
            height:79%;
            border-radius:50%;
            border: 2px solid gray;
            z-index: 3;
            animation: quanquan  120s steps(1000) infinite;
            animation-play-state: paused;
            
        }
        &:nth-child(5){
            width: 32%;
            height:32%;
            border-radius:50%;
        }
         &:nth-child(6){
            width: 30%;
            height:30%;
            border-radius:50%;
        }
        &:nth-child(7){
            width: 35%;
            height:35%;
            border-radius:50%;
        }
        &:nth-child(8){
            width: 40%;
            height:40%;
            border-radius:50%;
        }
        // &:nth-child(9){
        //     position: absolute;
        //     width: 80%;
        //     height:80%;
        //     z-index: 444;
        //     background-color:violet;
        //     span{
        //         display:block;
        //         position: absolute;
        //         top:40%;
        //         transform: translateY(-50%) translateX(-50%);
        //         left:40%;
        //         transform-origin:32px 32px;
        //         font-size:24px;
        //         &:nth-child(1){
        //             transform: rotate(45deg);
        //         }
        //         &:nth-child(2){
        //             transform: rotate(90deg);
        //         }
        //     }
        //     border-radius:50%;
        // }
        &:nth-child(10){
            width: 80%;
            height:80%;
            border-radius:50%;
            background-color:black;
            // span{
            //             display:inline-block;
            //             background-color: red;
            //             position: absolute;
            //             top:20%;
                        
            //             left:20%;
            //             transform-origin:96px 96px;
            //             font-size:24px;
            //             &:nth-child(1){
            //                 transform:translateY(-50%) translateX(-50%) rotate(45deg);
            //             }
            //             &:nth-child(2){
            //                 transform:translateY(-50%) translateX(-50%) rotate(90deg);
            //             }
            //         }
        }
    }
}
        // 底座
        .dizuo{
            border-radius: 20%;
            left:240px;
            position: absolute;
            height:260px;
            width:400px;
            top:80px;
            background-color: #d4903d;
            border-top-right-radius:49%;
            border-bottom-right-radius:49%;
            box-shadow: 0 0 0 8px #d4903d;
            z-index:-3;
            .zuoji{
                position: absolute;
                width:100px;
                height:100px;
                border-radius: 50%;
                outline-width:3px; 
                box-shadow: inset 0 0 0 50px goldenrod;
                // border:solid;
                right:50px;
                top:20px;
             
            }
        }
        // 指针
        .zhizhen{
            position: absolute;
            width:10px;
            height:300px;
            // border:solid;
            top:38%;
            left:135%;
            transform-origin: 0 0;
            z-index:2 ;
            border-bottom-right-radius: 40%;
            border-bottom-left-radius: 40%;
            transform:rotate(52deg);
            background-color:goldenrod;
            animation: zhizhen  120s steps(1170) infinite;
            animation-play-state:paused;
        }
}

        .base{
            position: absolute;
            left:40%;
            top:50px;;
            // transform: translateX(-50%);
            width:700px;
            height: 400px;
            // border:solid;
        }
@keyframes rota{
    to{
        transform: rotate(360deg);
    }
}
@keyframes zhizhen{
   form {
        transform:rotate(52deg) ;
   }
    52%{
        transform:rotate(62deg) ;
   }
   68%{
    transform:rotate(65deg)
   }
   88%{
    transform:rotate(69deg) 
   }
   100%{
    transform:rotate(73deg)
   }
}
@keyframes quanquan{
    from{
        width: 79%;
        height:79%;
    }
    to {
        width:30%;
        height:30%;
    }
}